name: "nexu_backend"

services:
  backend:
    container_name: backend
    build: .
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    volumes:
      - ./app:/app/app
      # JSONS de la persistencia de datos
      - ./db:/app/db
      # Persistencia de logs
      - ./logs:/app/logs
    restart: unless-stopped